:root{
    --esasReng:#3267ff;
}
.logo{
    height: 43px;
}
.bas{
    display: flex;
}
.home{
    color: var(--esasReng);
}
.hoverli{
    &:hover{
        color:var(--esasReng);
    }
}
.fon{
    width: 650px;
    margin-top: -1px;
    background-color:#f7f8f8;
}
.ust{
    width: 510px;
    top: 0;
    margin-top: 22px;
    z-index: 3;
    position: absolute;
    left: 0;
}
.yumru1{
    width: 45px;
    border-radius: 50%;
    border:3px solid white;
    left: 0;
}
.yumru2{
    width: 45px;
    border-radius: 50%;
    border:3px solid white;
    margin-left: -13px;
}
.yumru3{
    width: 45px;
    border-radius: 50%;
    border:3px solid white;
    margin-left: 24px;
}
.font{
    margin-left: 90px;
}
.bar{
    margin-top: -176px;
    background-color: white;
    left: 6px;
}
.smile{
    color: var(--esasReng);
}

.yazi{
    color: var(--esasReng); 
}
.fa-star{
    font-size: 15px;
}
.reqem{
    font-size: 13px;
}
.icon{
    color: var(--esasReng);
}
.bar2{
    background-color: white;
    z-index: 4;
    bottom:-52%;
}
.book{
    margin-top: 43px;
}
.tekst{
    font-size: 17px;
    text-decoration: none;
}
.ikili1{
    width: 150px;
    border-radius: 100%;
    margin-top: 174px;
}
.ikili2{
    width: 150px;
    border-radius: 100%;
    margin-top: 366px;
    margin-left: -32px;
}
.info2{
    margin-top: 432px;
}
.pic{
    width: 380px;
    margin-top: 50px;
}
.clinic{
    color: var(--esasReng);
}
.dord{
list-style: none;
flex-wrap: wrap;
margin-left: -33px;
}
.margin{
    margin-top:115px;
}
.soz{
    font-size: 18px;
    text-decoration: none;
    left: 0;
}
.learn{
    &:hover{
        background-color: black;
    }
}
.make{
    margin-left: 20px;
}
.rew{
    color: var(--esasReng);
}

.progres{
    width: 95%;
}
.progres2{
    width: 87%;
}

.goy{
    background-color: var(--esasReng);
    width: 63px;
    margin-right: 15px;
}
.goy2{
    color: var(--esasReng);
}
.mavi{
    background-color: #edfdfd;
}
.b3{
    background-color: white;
    position: absolute;
    bottom: 100px;
    right: 0;
}

.sub{
    font-size: 14px;
}
.check1{
    list-style: none;
    margin-left:-28px;
}
.check2{
    list-style: none;
    margin-left:60px;
}
.ch{
    text-decoration: none;
}
.fa-tooth{
    font-size: 55px;
    color: white;
}
.yazili{
    background-color: var(--esasReng);
}
.fa-user-doctor{
    font-size: 55px;
    color: white; 
}
.yazili2{
    background-color: #000a2d;
}
.coment{
    color: var(--esasReng);
}
.agbar{
    background-color: white;
    margin-top: -57px;
    width: 70%;
}
.lorem{
    font-size: 12px;
}
.dis{
    color: var(--esasReng);
    font-size: 45px;
}
.honest{
    margin-top: 201px;
}
.blogs{
    margin-top: 200px;
}
.tips{
    background-color: white;
    margin-top: 211px;
    margin-left: -410px;
}
.ipsum{
    font-size: 12px;
}
.become{
    margin-top: 150px; 
    background-color: #edfdfd;
}
.dolor{
    font-size: 20px;
}
.women{
    width: 321px;
}
.last{
    background-color: #000a2d;
}
.soc{
    list-style: none;
    gap: 18px;
    margin-left:-33px;
}
.xett{
    background-color: var(--esasReng);
    padding: 1px;
}
.soc2{
  margin-left: -30px;
    list-style: none;
}
.form{
    padding: 5px;
    background-color: white;
    height: 60px;
}
.form input{
    outline: 0;
}
.pa{
    top:10px;
    right: 10px;
}
.foot{
    background-color: #000a2d;
}
.xett1{
    padding:0.5px;
    background-color: rgb(191, 185, 185);
}


@media(max-width:1024px){
.logo{
    height: 22px;
    margin-left: -57px;
}
.mt-550{
    margin-top: 550px;
}
.bar2{
    bottom: -80%;
}
.b3{
    margin-bottom: -325px;
}
.service{
    margin-bottom: 100px;
}
.bar{
    display: none;
}
.fon{
    width: 100%;
}
.ust{
  width: 100%;
  left: 0;  
}
.pos{
    position: relative;
}
.ikili1{
    display: none;
}
.ikili2{
    display: none;
}
.dord{
    flex-direction: column;
}
.but{
    display: flex;
    flex-direction: column;
}
.make{
    margin-left: 1px;
    margin-top: 10px;
}
.pic{
    width:100% !important;
}
.b3{
    bottom: 0;
}
/* .birinci{
    display: none;
}
.bar3{
    background-color: white;
} */
.bluet{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bluer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.orta{
    flex-direction: column;
    align-items: center;
    justify-content: center;  

}
.margin{
    margin-top:115px;
}
.zametka{
    flex-direction: column-reverse;
    width: 100%;
}
}